* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: aquamarine;
}

header {
  display: flex;
  padding-left: 30px;
  padding-right: 10px;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
}
header h1 {
  font-family: "Times New Roman", Times, serif;
  font-family: fantasy;
  font-size: 35px;
}

nav a {
  padding: 10px 15px;
  font-size: 20px;
}
