body {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  justify-content: space-between;
}

h1 {
  font-family: fantasy;
  font-size: 200%;
}
h2 {
  margin: 2% 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  background-color: unset;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
section {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  gap: 20px;
}
p {
  width: 50%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
}
